select {
    width: 30%;
    height: 25px;
    padding: 0 1em;
    background: none;
    border: #c1c1c1 solid 1px;
  }
  #myform
  {
      position: relative;
      left: 180px;
      bottom: 50px;
      color: white;

      height: 300px;
      border: #dbdbdb solid 1px;
      width: 500px;

padding: 20px;
margin: 20px;
margin-top: 15%;

  }
  
  body{
      background-image: url(/img/bg.jpg);
      height: 100%;

      /* Center and scale the image nicely */
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
  }
  #mydiv
  {
    position: relative;
    left: 1000px;
   bottom: 400px;
  }
  th ,td{
      padding: 15px;
      color: white;
  }
  button{
      position: relative;
      top: 70px;
  }

  footer{
      position: relative;
      left: 50%;
      bottom: 50px;
  }

 ul {
     position: relative;
    display: inline;
    left: 90%;
    top: 20px;
    color: white;
    font-size: 25px;

    
}
